* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.6;
    color: #111;
    background-color: #f8f8f8;
}

h1, h2, h3{
    font-weight: 700;
}

p{
    font-weight: 400;
}

header {
    background: url("/img/How-to-Learn-Playing-Guitar-by-Yourself.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    padding: 20px 40px;

}

header .navigation ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 5%;
    
}

header .navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border:#EA672D 1px solid;
    border-radius: 25px;
    padding: 10px;
    font-weight: 100;
}

header .navigation a:hover{
    background-color: #EA672D;
    transition: linear 0.2s;
    transform: scale(1.05);
}

header .title h1 {
    font-size: 1.8rem;
    text-align: left;
}

header .start{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #0a6817a8;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
}

header .start:hover{
    background-color: #086100;
    transition: linear 0.2s;
    transform: scale(1.05);
}

.doporucene_kytary h3{
    text-align: center;
}

.doporucene_kytary .produkty{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

}

.doporucene_kytary .produkt{
    border: 1px gray solid;
    border-radius: 25px;
    transition: 0.5s ease;
}

.doporucene_kytary .produkt:hover{
    transform: scale(1.05);
}

.rozdily h2{
    text-align: center;
}

.rozdily .container{
    border: 1px grey solid;
    border-radius: 25px;
    padding: 5%;
    margin: 3%;
}

.rozdily .container h3{
    color:#0a6817
}

.rozdily .akusticka_img{
    border: 1px solid black;
}

.rozdily .elektricka_img{
    border: 1px solid black;
}