* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-family: "Inter", Arial, sans-serif;
    line-height: 1.6;
    color: #111;
    background-color: #f8f8f8;
}

h1, h2, h3{
    font-weight: 700;
}

p{
    font-weight: 400;
}

/* --- HEADER--- */

.logo_ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left, .right{
    flex: 1;
}

.logo_svg{
    width: 10rem;
}

header {
    background: url("/img/How-to-Learn-Playing-Guitar-by-Yourself.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    padding: 20px 40px;

}

header .navigation ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 5%;
    
}

header .navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border:#EA672D 1px solid;
    border-radius: 25px;
    padding: 10px;
    font-weight: 100;
    transition: linear 0.2s;
}

header .navigation a:hover{
    background-color: #EA672D;
    transform: scale(1.2);
}

header .title h1 {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: left;
    margin-top: 5%;
}

header .start{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3%;
    margin-bottom: 15%;
    background-color: #0a6817d9;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    transition: linear 0.2s;
    text-decoration: none;
}

.start_1{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header .start:hover{
    background-color: #086100;
    transform: scale(1.05);
}

/* --- DOPORUČENÉ KYTARY --- */

.doporucene_kytary h3{
    text-align: center;
    color: white;
    margin-bottom:2% ;
}

.doporucene_kytary .produkty{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    margin-bottom: 2%;
}

.doporucene_kytary .produkt{
    border: 1px gray solid;
    border-radius: 25px;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 2%;
    max-width: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.cena_nazev{
    margin-top: auto;
}

.nazev{
    color: #111;
    
}

.cena{
    color: #EA672D;
    border: 1px solid #EA672D;
    border-radius: 25px;
    text-align: center;
    transition: 0.5s ease;
    text-decoration: none;
}

.cena:hover{
    color: white;
    background-color: #EA672D;
    transform: scale(1.05);
}

.doporucene_kytary p{
    text-align: center;
    text-decoration: none;
}

.doporucene_kytary .produkt:hover{
    transform: scale(1.05);
}

.doporucene_kytary{
    margin-top: -10%;
}

.produkt_img{
    width: 10rem;

}

/* --- ROZDÍLY MEZI KYTARAMI --- */

.rozdily h2{
    text-align: center;

}

.rozdily .container {
    display: flex;
    flex-direction: column; 
    gap: 15px;              
    margin: 40px auto;
    max-width: 1000px;      
    padding: 0 20px;
}

.rozdily .container h3{
    color:#0a6817
}

.akusticka, .elektricka {
    display: flex;
    align-items: center;    
    gap: 50px;              
    background: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
    transition: 0.3s ease-in;
}

.akusticka:hover, .elektricka:hover{
    transform: scale(1.02);
}


.kytara_img img {
    max-width: 150px;
    height: auto;
    border-radius: 15px;
    display: block;
}

.akusticka_popis h3, .elektricka_popis h3 {
    color: #0a6817;
    margin-bottom: 15px;
    font-size: 1.5rem;
    margin-left: 15px;
}

.akusticka_popis p, .elektricka_popis p {
    margin-bottom: 8px;
    margin-left: 15px;
}

/* --- STRUNY --- */

.struny{
    background-color: #EA672D;
}

.struny-toggle{
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.struny-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.struny-content.open {
    max-height: 800px;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.struny h2{
    text-align: center;
    color: #f8f8f8;
}

.struny_img{
    max-width: 10rem;
    margin-right: 10rem;
    margin-left: 5rem;
}

.struny_popis{
    text-align: left;
    background-color: #f8f8f8;
    border: 1px solid #3f3f3fd9;
    border-radius: 25px;
    padding: 1%;
    margin-bottom: 2%;
}

.struny_div{
    display: flex;
    justify-content: center;
    margin: 2%;
}

/*--- ZÁKLADNNÍ AKORDY ---*/
.zakladni_akordy{
    margin-top:10px;
}

h2{
    text-align: center;
}

.akord_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.akord {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.2s;
    width: 120px;
}

.akord img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.akord:hover {
    transform: scale(1.05);
}

/* Modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80%;
  border-radius: 15px;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: #EA672D;
  transition: ease-in 0.2s;
}